<template>
  <details>
    <summary style="color: gray; font-size: 14px">出厂信息</summary>
    <div>
      <table>
        <tr>
          <th>出厂日期</th>
          <th>Git 分支名</th>
          <th>Git 哈希</th>
        </tr>
        <tr>
          <td>{{ consts.APP_BUILD_TIME }}</td>
          <td>{{ consts.APP_GIT_NAME_REV }}</td>
          <td>{{ consts.APP_GIT_HEAD }}</td>
        </tr>
      </table>
      <table>
        <tr></tr>
        <tr></tr>
      </table>
    </div>
    <p>
      欢迎在
      <a :href="homepage + index_urlpath">网页版</a> 阅读本书。
    </p>
    <p v-if="pdf_filename_prefix">
      你也可以点击这里的连接来
      <a :href="homepage + '/' + book_id + '.pdf'" :download="filename">
        查看或下载
      </a>
      最新版本的 网页版转PDF 文件。
    </p>
  </details>
</template>

<script setup lang="ts">
import { homepage } from "../index";
import consts from "../../consts";
import { ref } from "vue";

const props = defineProps<{
  book_id: string;
  index_urlpath: string;
  pdf_filename_prefix?: string;
}>();

const filename = ref(
  `${props.pdf_filename_prefix}-${new Date()
    .toLocaleString("zh-CN")
    .replaceAll("/", "_")}.pdf`
);
</script>
